<div data-tabs>
    <nav class="tab-triggers">
        <ul>
            <li><a href="#" class="active" data-tab-trigger="tab1">Tab 1</a></li>
            <li><a href="#" data-tab-trigger="tab2">Tab 2</a></li>
            <li><a href="#" data-tab-trigger="tab3">Tab 3</a></li>
        </ul>
    </nav>

    <div class="tab-content active" data-tab-panel="tab1">
        <p>First Tab</p>
    </div>

    <div class="tab-content" data-tab-panel="tab2">
        <p>Second Tab</p>
    </div>

    <div class="tab-content" data-tab-panel="tab3">
        <p>Third Tab</p>
    </div>
</div>
